@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@1&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Bodoni Moda', serif;
}

body {

    background: linear-gradient(to bottom, #a0a0a0, #000000, #393939); /* Replace with your desired colors */
    margin: 0;
}

.container {
    perspective: 1000px;
}

.block,
.block2 {
    text-align: center; /* Center the content */
}

.frames,
.frames2 {
    border: 2px solid #fff;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto; /* Center the frames */
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
    margin-bottom: 20px; /* Add some space between frames */
    
}

.frames img,
.frames2 img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.frames p,
.frames2 p {
    font-size: 20px;
    font-weight: bold;
}

.frames:nth-child(1),
.frames:nth-child(2),
.frames:nth-child(3),
.frames2:nth-child(1),
.frames2:nth-child(2),
.frames2:nth-child(3) {
    z-index: -1;
    
}

.frames:nth-child(1) {
    background-color: hsl(281, 100%, 50%);
    margin-top: 30px;

}

.frames:nth-child(2) {
    background-color: rgb(32, 218, 54);
}

.frames:nth-child(3) {
    background-color: rgb(242, 167, 70);
}
.frames2:nth-child(1) {
    background-color: rgb(138, 255, 247);

}

.frames2:nth-child(2) {
    background-color: rgb(255, 113, 113);
}

.frames2:nth-child(3) {
    background-color: rgb(80, 121, 255);
}
/* Add media query for smaller screens */
@media only screen and (max-width: 600px) {
    .frames,
    .frames2 {
        max-width: none;
        margin-bottom: 10px; /* Adjust space between frames on smaller screens */
    }
}
nav {
    background-color: #88888800; /* Initial gray color */
    overflow: hidden;
    
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

nav a {
    float: none; /* Remove the float property */
    display: inline-block; /* Display links in a block */
    border: #ffffffae solid;
    border-radius: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}
    
nav a:hover {
    background-color: #131313; /* Darker color on hover */
}
    